<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Orginal</string>
	<string>4:5</string>
	<string>1:1</string>
	<string>5:4</string>
	<string>3:4</string>
	<string>9:16</string>
	<string>16:9</string>
	<string>4:3</string>
	<string>1:2</string>
	<string>2:1</string>
</array>
</plist>
